<div class="container">
    <h1>Bienvenid@</h1>
    <a href="/mapa-basico" class="btn btn-dark">Ver mapa básico</a>
    <a href="/restaurantes/listado" class="btn btn-dark">Ver restaurantes</a>
</div>