<div class="container">
    <h1>Listado de restaurantes</h1>

    <figure id="restaurants-map"></figure>
    <a href="/restaurantes/crear" class="btn btn-dark">Nuevo restaurante</a>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascripts/restaurants-map-config.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxRnLJg31O3CW392wq9udS4-5NKMhp8ws&callback=initMap"></script>
</div>